.tribe-common .btn-secondary .tribe-common-svgicon--month,
.tribe-events
  .tribe-events-c-view-selector__list-item-link:hover
  .tribe-common-svgicon--month {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='22' height='22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.637 1.063v19.879c0 .276.189.5.422.5h20.037c.232 0 .421-.224.421-.5V1.062c0-.275-.189-.5-.421-.5H1.059c-.233 0-.422.225-.422.5zM1.787 2H20.34v2.685H1.787V2zm0 4H20.34v14H1.787V6zM8 8.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm4 0v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm4 0v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm-8 4v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm4 0v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm4 0v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm-12 0v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm0 4v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm4 0v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm4 0v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5z' fill='white'/%3E%3C/svg%3E");
}
.tribe-common .btn-secondary .tribe-common-svgicon--list,
.tribe-events
  .tribe-events-c-view-selector__list-item-link:hover
  .tribe-common-svgicon--list {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E%3Cg fill='white' fill-rule='evenodd'%3E%3Cpath fill-rule='nonzero' d='M0 .504v20.03c0 .278.19.503.425.503h20.188c.235 0 .425-.225.425-.504V.503c0-.277-.19-.503-.425-.503H.425C.19 0 0 .226 0 .504zm1.158.944h18.695v2.705H1.158V1.448zm0 2.705h18.695v15.432H1.158V4.153z'/%3E%3Cpath d='M13.39 5.731v2.13a1.07 1.07 0 0 0 1.076 1.064h2.154a1.07 1.07 0 0 0 1.077-1.065V5.731a1.07 1.07 0 0 0-1.077-1.064h-2.154A1.07 1.07 0 0 0 13.39 5.73z'/%3E%3Cpath fill-rule='nonzero' d='M8.84 8.937c.286 0 .52-.236.52-.523v-.425a.523.523 0 0 0-.52-.522H4.02a.523.523 0 0 0-.52.522v.425c0 .287.234.523.52.523h4.82zm2.064-2.8c.287 0 .521-.236.521-.523v-.425a.523.523 0 0 0-.52-.522H4.02a.523.523 0 0 0-.521.522v.425c0 .287.234.523.52.523h6.884z'/%3E%3Cpath d='M13.39 12.731v2.13a1.07 1.07 0 0 0 1.076 1.064h2.154a1.07 1.07 0 0 0 1.077-1.065v-2.129a1.07 1.07 0 0 0-1.077-1.064h-2.154a1.07 1.07 0 0 0-1.077 1.064z'/%3E%3Cpath fill-rule='nonzero' d='M8.84 15.937c.286 0 .52-.236.52-.523v-.425a.523.523 0 0 0-.52-.522H4.02a.523.523 0 0 0-.52.522v.425c0 .287.234.523.52.523h4.82zm2.064-2.8c.287 0 .521-.236.521-.523v-.425a.523.523 0 0 0-.52-.522H4.02a.523.523 0 0 0-.521.522v.425c0 .287.234.523.52.523h6.884z'/%3E%3C/g%3E%3C/svg%3E");
}
.tribe-common .btn-secondary .tribe-common-svgicon--day,
.tribe-events
  .tribe-events-c-view-selector__list-item-link:hover
  .tribe-common-svgicon--day {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='21' height='21' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 .503v19.994c0 .278.19.503.424.503h20.152c.234 0 .424-.225.424-.503V.503C21 .225 20.81 0 20.576 0H.424C.19 0 0 .225 0 .503zm1.156.943h18.66v2.7H1.157v-2.7zm0 4.023h18.66V19.55H1.157V5.469zM14.18 14.53v1.747c0 .482.39.874.873.874H16.8a.873.873 0 0 0 .873-.874V14.53a.873.873 0 0 0-.873-.873h-1.747a.873.873 0 0 0-.873.873z' fill='white'/%3E%3C/svg%3E");
}

.tribe-events .tribe-events-c-top-bar__datepicker-button:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.21.85L6 5.64 10.79.85 11.94 2 6 7.94.06 2z' fill='%23ee232b'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  margin-left: 8px;
  height: 6px;
  width: 10px;
}
.tribe-events .tribe-events-c-top-bar__datepicker-button--open:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.21 7.15L6 2.36l4.79 4.79L11.94 6 6 .06.06 6z' fill='%23ee232b'/%3E%3C/svg%3E");
}
.tribe-events-c-top-bar__datepicker-button {
  box-shadow: none !important;
}

.datepicker table tr td.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover,
.datepicker table tr td span.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active:hover {
  background-image: -moz-linear-gradient(to bottom, #f14e55, #d61f26);
  background-image: -ms-linear-gradient(to bottom, #f14e55, #d61f26);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#f14e55),
    to(#d61f26)
  );
  background-image: -webkit-linear-gradient(to bottom, #f14e55, #d61f26);
  background-image: -o-linear-gradient(to bottom, #f14e55, #d61f26);
  background-image: linear-gradient(to bottom, #f14e55, #d61f26);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f14e55', endColorstr='#d61f26', GradientType=0);
  border-color: #d61f26 #d61f26 #470a0c;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.tribe-events .datepicker .datepicker-months .datepicker-switch,
.tribe-events .datepicker .datepicker-months .next,
.tribe-events .datepicker .datepicker-months .prev,
.tribe-events .datepicker .datepicker-years .datepicker-switch,
.tribe-events .datepicker .datepicker-years .next,
.tribe-events .datepicker .datepicker-years .prev,
.tribe-events .datepicker .datepicker-switch,
.tribe-events .datepicker .next,
.tribe-events .datepicker .prev {
  padding: 10px 0 8px;
}

.tribe-common .tribe-common-c-loader__dot {
  background-color: rgba(238, 35, 43, 0.2);
}
.tribe-common--breakpoint-medium.tribe-common .tribe-common-b3 {
  font-size: 1rem;
  line-height: 1.38;
}
.tribe-common h1,
.tribe-common h2,
.tribe-common h3,
.tribe-common h4,
.tribe-common h5,
.tribe-common h6,
.tribe-common p {
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
.tribe-common--breakpoint-medium.tribe-common .tribe-common-h4 {
  font-size: 1rem;
  line-height: 1.42;
}

.tribe-common--breakpoint-medium.tribe-common .tribe-common-h3 {
  font-size: 1.5rem;
  line-height: 1.42;
}
.tribe-common--breakpoint-medium.tribe-events
  .tribe-events-calendar-month__day:after {
  background-color: transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: -1px;
  position: absolute;
  transition: background-color 0.2s ease;
  width: calc(100% + 2px);
}
.tribe-common--breakpoint-medium.tribe-events
  .tribe-events-calendar-month__day:hover:after {
  background-color: $secondary;
}
.tribe-events-calendar-month__day:hover
  .tribe-events-calendar-month__day-date-daynum {
  color: $secondary;
}

.tribe-events-c-view-selector__content {
  box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.2);
}
.tribe-events .tribe-events-c-view-selector__list-item-link:hover {
  background-color: rgba(238, 35, 43, 1);
  color: white;
  text-decoration: none;
}
.tribe-events .datepicker .next .tribe-common-svgicon,
.tribe-events .datepicker .prev .tribe-common-svgicon {
  width: 100%;
}
.tribe-theme-twentynineteen .entry .tribe-common a,
.tribe-theme-twentynineteen .tribe-common a {
  text-decoration: none;
}
.tribe-common .tribe-common-anchor-thin {
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s ease;
}
.tribe-common .tribe-common-h--alt {
  font-weight: 400;
}
.tribe-common .tribe-common-h8 {
  font-size: 0.8rem;
  line-height: 1.38;
}
.tribe-events-tooltip-theme {
  display: none !important;
}
.tribe-common--breakpoint-medium.tribe-events
  .tribe-events-calendar-month__day {
  height: auto;
  min-height: 140px;
}
.tribe-events-cal-links > a {
  color: $secondary;
  font-weight: bold;
  text-decoration: none;
  margin-right: 15px;
}

.tribe-events-single-event-title {
  margin-bottom: 10px;
}

.tribe-events-back > a {
  color: $secondary;
  margin-bottom: 5px;
  font-weight: bold;
}
