html,
body,
#page,
#single-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html,
  body,
  #page {
    min-height: 100vh;
    height: auto;
  }
  #single-wrapper {
    height: 100%;
  }
}
.wp-block-image figcaption {
  font-size: 0.9rem;
  color: gray;
}

.sponsor .image-wrapper {
  width: 100%;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsor .image-wrapper img {
  max-height: 100px;
}

#premiumSponsorOverview .cardWrapper {
  width: 300px;
}

#teamsContainer .cardWrapper {
  margin: 10px;
}

#teamsContainer .card {
  height: 100%;
}

.cardWrapper {
  width: 250px;
  padding: 20px;
}

.display-5 {
  font-weight: 300;
  line-height: 1;
}

.was-validated .form-control:valid:focus {
  box-shadow: none !important;
}

#messageSendingSuccess,
#messageSendingFailed {
  display: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
  box-shadow: 0 0 0 50px white inset;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
  box-shadow: 0 0 0 50px white inset;
}

.post.wrapper:not(:last-child),
.postPlaceholder:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid $secondary;
}
.postPlaceholder {
  margin-top: 20px;
}

.post.wrapper + .postPlaceholder {
  margin-top: 10px;
}

.site-main {
  width: 100%;
}

.postImageContainer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  widows: 100%;
  height: 100%;
}

.postImageContainer {
  max-width: 250px;
  max-height: 90%;
  overflow: hidden;
  text-align: center;
  margin: 15px;
}

.postImageContainer img {
  max-height: 300px;
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1),
    filter 1s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.5s;
}
.postTags {
  text-align: right;
  margin-right: 5px;
}

.postContainer:hover img {
  transform: scale(1.05);
}

.postContainer {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}
.post.wrapper a {
  text-decoration: none;
}
.postImageContainer > .eventDateTimeContainer {
  margin: auto;
}
.postDetails .btn {
  margin-top: 15px;
}
.postImageContainer .eventDateTime {
  margin-top: 10px;
}
.postTags > a,
.tribe-common span.event-tag,
.entry-header .event-tag {
  margin-left: 5px;
}
.eventTags .badge {
  vertical-align: top;
}

.clear-float {
  clear: both;
}

.postPlaceholder {
  width: 100%;
  height: 150px;
  cursor: default;
}
.postPlaceholder .loading,
.eventPlaceholder .loading,
.sponsorPlaceholder.loading,
.cardPlaceholder .loading,
.teamDetailPlaceholder .loading {
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    display: block;
    background-color: rgba(120, 120, 120, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateX(0);
    animation: 1.5s loading-placeholder ease-in-out infinite;
  }
}

@keyframes loading-placeholder {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.postPlaceholder .postContainer {
  cursor: default;
}

.postPlaceholder .postTags,
.eventPlaceholder .eventTags {
  height: 1rem;
  width: 15%;
  background-color: rgba(238, 35, 43, 0.3);
  margin-left: auto;
}

.postPlaceholder .postImageContainer,
.sponsorPlaceholder {
  background-color: #dfdfdf;
  height: 90px;
}
.postPlaceholder .headingPlaceholder,
.eventPlaceholder .eventDateTime {
  background-color: #dfdfdf;
  width: 70%;
  height: 1rem;
}
.postPlaceholder .postExcerptContainer.line1 {
  margin-top: 20px;
}
.postPlaceholder .postExcerptContainer,
.eventPlaceholder .eventTitle {
  height: 1rem;
  background: #efefef;
  margin-top: 5px;
}
.eventPlaceholder .eventDateTimeContainer {
  background-color: rgba(238, 35, 43, 0.3);
}

.eventPlaceholder .eventTags {
  width: 25%;
}
.eventPlaceholder .eventDateTime {
  width: 30%;
}

.sponsorPlaceholder {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 250px;
}

#homePageSponsors .sponsorPlaceholder {
  padding: 0;
  margin: 10px;
}

#teamsContainer,
#sponsorOverview,
#premiumSponsorOverview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sponsor.cardWrapper a {
  text-decoration: none;
}

#sponsorOverview .card-body,
#premiumSponsorOverview .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#sponsorOverview .card {
  width: 13rem !important;
}

#teamsContainer a:not(.btn),
.entry-content a:not(.btn),
#tribe-events-content a:not(.btn) {
  color: $secondary;
}
#teamDetailContainer a:not(.btn),
.post.wrapper a {
  color: $body-color;
}

#teamsContainer .cardWrapper .btn {
  margin: auto;
  margin-bottom: 10px;
  width: 90%;
}
.list-group {
  margin-bottom: 5px;
}

.cardWrapper img {
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.cardWrapper:hover img {
  transform: scale(1.05);
}

.cardPlaceholder .list-group-item {
  height: 2rem;
  margin-bottom: 10px;
  border-top: none;
}

.cardPlaceholder .btn {
  height: 2.4rem;
  background-color: rgba(238, 35, 43, 0.3);
  border: none;
}
.further-btn-wrapper {
  text-align: right;
}
.further-btn-wrapper .btn {
  margin-right: 15px;
}

.teamTable,
.teamMatches {
  width: 100%;
  white-space: nowrap;
}
.modal-body {
  overflow-x: auto;
}

.teamDetailModal .table th {
  background-color: $secondary;
  color: white;
  border-bottom: 1px solid #dee2e6;
}

.postsContainer.posts-small-width .postTextContainer,
.postsContainer.posts-small-width .postImageContainer {
  flex: 0 0 100%;
}
.postsContainer.posts-small-width .postImageContainer {
  margin: 15px;
}

.postsContainer.posts-small-width .postPlaceholder {
  height: 250px;
}

.site-footer .footer-links {
  display: flex;
  flex-direction: row;
}

.site-footer {
  padding: 5px;
  width: 100%;
  margin-top: 30px;
}
.site-footer .footer-links,
.site-footer .footer-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-links a,
.footer-brand a {
  margin: 10px;
}

.footer-brand > a {
  text-decoration: none;
  color: #999;
}
.wrapper {
  padding: 10px 0;
}

.site-info.row {
  margin-left: 0;
  margin-right: 0;
}
#teamDetailContainer .nav {
  margin: 10px 0;
}

#teamDetailContainer .nav a {
  margin-right: 10px;
}

#teamDetailContainer .nav a.btn-secondary:focus {
  box-shadow: none;
  border-color: #c20f16;
}

i.breadcrumb-delimiter {
  color: $secondary;
  font-size: 1.2rem;
  margin-left: 6px;
  margin-right: 6px;
  position: relative;
}

.row {
  margin: 0;
}

#breadcrumb-wrapper {
  margin-left: 20px;
}

#crumbs {
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  flex-direction: row;
  flex-wrap: wrap;
  white-space: nowrap;
}

#crumbs a {
  cursor: pointer;
}

#crumbs .current {
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8rem;
}

.entry-title {
  display: inline;
}

.entry-header {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 25px;
}

@media (max-width: 992px) {
  .postPlaceholder {
    height: 250px;
  }
}
@media (min-width: 992px) {
  .postImageContainer {
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .carousel-control-next,
  .carousel-control-prev {
    display: none;
  }
  .site-footer .footer-links {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
  }
  .footer-links a,
  .footer-brand a {
    margin: 5px;
  }

  .site-footer .footer-brand {
    justify-content: flex-start;
  }
  .modal {
    padding: 0 !important;
  }
  .modal-dialog.teamDetailModal {
    max-width: 100%;
  }
}

@media (min-width: 767px) {
  .modal-dialog.teamDetailModal {
    max-width: 90%;
  }
  .site-footer {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
  }
}

body > .sl-overlay {
  z-index: 100;
}
body > .sl-wrapper {
  z-index: 101;
}
.wrapper .ngg-navigation a.page-numbers,
.wrapper .ngg-navigation span.page-numbers {
  background-color: $secondary;
}

.wrapper .ngg-navigation a.page-numbers:hover,
.wrapper .ngg-navigation span.page-numbers:hover,
.wrapper .ngg-navigation span.current,
.wrapper .ngg-navigation span.current:hover {
  background-color: #ce1017;
}

.wrapper .ngg-navigation .prev,
.wrapper .ngg-navigation .next,
.wrapper .ngg-navigation .prev:hover,
.wrapper .ngg-navigation .next:hover {
  visibility: hidden;
}

.wrapper .ngg-navigation .next:after {
  content: "";
  position: relative;
  left: -7px;
  top: 5px;
  display: inline-block;
  border-right: 2px solid $secondary;
  border-bottom: 2px solid $secondary;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%) rotate(-45deg);
  visibility: visible;
}

.wrapper .ngg-navigation .prev:after {
  content: "";
  position: relative;

  display: inline-block;
  border-right: 2px solid $secondary;
  border-bottom: 2px solid $secondary;
  width: 10px;
  height: 10px;
  transform: rotate(135deg);
  visibility: visible;
}
